.footer {
    position:fixed;
    top: 0;
    right:0%;
    width: 10%;
}

.footer h1 {
    color: white;
    font-style: italic;
    font-size: 1.2rem;
}

.footer ul, li {
    text-decoration: none;
    padding-left: 0;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.about {
    grid-column: 2;
    margin-left: 15%;
}

.about h1{
    text-align: center;
    margin-top: 10rem;
    font-size: 3rem;
    background: linear-gradient(135deg, rgb(17, 140, 218) 0%, rgb(255, 255, 255) 50%, rgba(227, 202, 12, 0.805) 100%);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;

    animation:changec 4s ease-in-out infinite;
}