@import "navbar.css";
@import "postElement.css";
@import "footer.css";

* {
    box-sizing: border-box;
    margin: none;
    padding: none;
    font-family: 'Roboto', sans-serif;
}

body {
    display:grid;
    grid-template-columns: 5% auto 12%;
    background:linear-gradient(135deg, rgb(74, 73, 73) 0%,rgb(138, 134, 134) 100%);
    border-color: gray;
}

figcaption {
    margin-top: 0.5rem;
    font-size: smaller;
    text-align: center;
}

@keyframes changec {
    0% { background-position: 0% 50%;}
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }

}

@media only screen and (max-width: 600px) {
    body {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        position:relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .navbar ul {
        margin: 0;
        position:relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .navbar li {
        margin: 1rem;
    }

    .navbar h1 {
        writing-mode:horizontal-tb;
        text-orientation: upright;
    }

    .blogPost .post {
        width: 100%;
    }

    .footer {
        display:grid;
        position: relative;
        width: 100%;
        margin: 2rem 0;
        grid-template-columns: 10% 1fr;
    }

    .footer h1 {
        writing-mode: vertical-lr;
        text-orientation: upright;
    }

    .footer li {
        margin-left: 5%;
        line-height: 2.5rem;
    }

    #about {
        margin: 0;
        width: 100%;
        text-align: center;
    }
}