* {
    box-sizing: border-box;
    margin: none;
    padding: none;
   
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url(../images/pexels-michiel-alleman-1537611.gif);
    background-size:cover;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    /* background-position: center;
    animation-name: move;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; */
}

/* @keyframes move {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -webkit-transform-origin: 0;
        transform-origin: 0;
      }
    100% {
        -webkit-transform: rotate(180);
        transform: rotate(180);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
      }
} */

#header-title {
    text-shadow: rgb(116, 119, 215) 2px 2px 2px;
}

#img {
    background-size: cover;
    height:70%;
}

@media only screen and (max-width: 900px) {
    header {
      background: none;
      background-color: rgb(16, 20, 21);
    }
  }