.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;

  background-attachment: fixed;
  background-image: url('/public/green1.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  transform:rotate3d(1,2,1);
}

#logo {
  animation: rotateLogo 3s linear infinite;
}

@keyframes rotateLogo {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

#bottom {
  transform: rotateX(180deg);
}

.expand {
  min-height: 90vh;
}

.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

/* .arrow{
  position:relative;
  width:50px;
  height:50px;
  
  transform:rotate(45deg);
}

.arrow > span {
  position:absolute;
  left:50%;
  top:0;
  width:100%;
  height:100%;
  box-sizing:border-box;
  border:none;
  border-bottom:3px solid #fff;
  border-right:3px solid #fff;
  animation:animate 1s linear infinite;
  &:nth-child(1){
    top:-30px;
    left:-30px;
    animation-delay:0s;
  }
  &:nth-child(2){
    top:-15px;
    left:-15px;
    animation-delay:0.2s;
  }
  &:nth-child(3){
    top:0;
    left:0;
    animation-delay:0.4s;
  }
  &:nth-child(4){
    top:15px;
    left:15px;
    animation-delay:0.6s;
  }
  &:nth-child(5){
    top:30px;
    left:30px;
    animation-delay:0.8s;
  }
}

@keyframes animate{
  0%{
    border-color:#fff;
    transform:translate(0,0);
  }
   20%{
    border-color:#fff;
     transform:translate(15px,15px);
  }
   20.1%,100%{
    border-color:#ffd64a;
  }
} */

.landing {
  color:transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url('/public/white.png');
  background-repeat: no-repeat;
  background-position: bottom;
  -webkit-animation: fill 2s linear infinite;
}

.section1{
  background-image: url('/public/mac.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
}

.about {
  /* filter: blur(10px);
  -webkit-filter: blur(10px); */
  background-image: url('/public/mac1.jpg');
  background-attachment: fixed;

}

.section2 {
  background-image: url('/public/mac1.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
}

.section3 {
  background-image: url('/public/drop.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position:center; */
}

@keyframes fill {
  0%{
    background-size: 100% 0%;
  }

  90% {
    background-size: 100% 100%;
    text-shadow: none;
    color:transparent;
  }
  100%{
    /* text-shadow: #282c34 2px 2px 2px; */
    color: #282c34;
  }
}
@-webkit-keyframes fill {
  0%{background-size: 100% 0%;}
  100%{background-size: 100% 100%;}
}

.App-link {
  color: #61dafb;
}

.headline {
  animation: fadeIn 15s;
}

.headline2 {
  animation: fadeIn 6s;
}

.headline3 {
  animation-delay: 2s;
  animation: fadeIn 7s;
}

.headline4 {
  animation: fadeIn 2s;
  background: rgb(254,254,238);
  background: linear-gradient(146deg, rgba(254,254,238,1) 0%, rgba(64,68,73,1) 10%, rgba(213,215,218,1) 19%, rgba(84,87,94,1) 30%, rgba(228,229,231,1) 39%, rgba(105,109,120,1) 45%, rgba(228,229,231,1) 54%, rgba(129,131,136,1) 63%, rgba(228,229,231,1) 75%, rgba(150,151,154,1) 81%, rgba(228,229,231,1) 87%, rgba(139,143,154,1) 91%, rgba(228,229,231,1) 95%);
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  animation: fadeIn 4s, changec 20s ease-in-out infinite;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes changec {
  0% { background-position: 0% 25%;}
  25% { background-position: 25% 50%;}
  50% { background-position: 50% 100%; }
  75% { background-position: 100% 50%;}
  100% { background-position: 0% 50%; }
}

@media only screen and (max-device-width: 840px) {
  .App, .section1, .section2, .section3 {
    background-attachment: scroll;
  }
}