* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Times, serif
}

.nav {
    background-color: rgb(52, 52, 52);
    position:fixed;
    width: 100%;
    opacity: 85%;

}


.nav ol {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav li {
    width: 10%;
    text-align-last: center;
}

.nav a, li {
    text-decoration: none;
    list-style-type: none;
    color: rgb(190, 146, 43);
    font-size: 1.2rem;
}

.nav li>img {
    background-color: transparent;
    max-width: 25%;
}

/* .nav li>img:hover {
    transform: rotateY(45deg);
	/* animation: rotateAnimation 0.5s linear infinite; */
    /* background-color: rgb(52, 52, 52); */
    /* opacity: 85%; */
    
/* } */ 

/* @keyframes rotateAnimation {
	from {transform: rotateY(45deg);}
	to {transform: rotateY(225deg);}
} */

.nav li {
    /* border: 1px solid rgb(145, 137, 123); */
    /* border-left: 1px solid rgb(145, 137, 123); */
    /* padding-right: 1rem;
    padding-left: 1rem; */

}

.nav a:hover {
    transition: all 3s ease;
    font-style: italic;
    color:white
}

.background {
    background-image: url(/restaurant/images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
    height: 40rem;
}
.main {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: rgb(156,240,237);
    background: linear-gradient(167deg, rgba(156,240,237,1) 0%, rgba(43,161,190,1) 50%, rgba(190,145,43,1) 100%);
     */
    margin-bottom: 3rem;
    z-index: 2;
}


.headlines { 
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding-bottom: 3rem;
    color: rgb(190, 146, 43);
}

.main input {
    color:rgb(190, 146, 43)
}
.main button {
    margin-bottom: 3rem;
    background-color: rgb(190, 146, 43);
    color: white;
    border-radius: 15%;
}

.icons > * {
    color: rgb(190, 146, 43);
}

.icons i {
    margin-right: 1rem;
}


.aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery > img {
    z-index: 1;
    width: 50%;
}

.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(190, 146, 43);
    margin: 3rem 0;
    line-height: 2rem;
}

.order {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order span {
    color: rgb(190, 146, 43);
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.order ol {
    display: flex;
    flex:row nowrap;
    list-style-type: none;
}

.order ol>li {
    margin: 0 1rem 1rem 1rem;
}

.order ol a {
    text-decoration: none;
    color:rgb(190, 146, 43)
}

.order ol a:hover {
    background-color: orange;
    color:white;
    transition: all 1s ease-in;
    font-size: 1.5rem;
}

.order h1 {
    margin-top: 1rem;
}

.order span {
    padding:1rem;
    border:solid 1px rgb(190, 146, 43,0.8);
    border-radius: 25%;
}

footer {
    padding-top: 3rem;
}

#footer {
    display: flex;
    justify-content: space-between;
    color:white;
    background-color: rgb(190, 146, 43);
}